<%= link_to game_bingo_card_path(bingo_card.game, bingo_card), class: "dashboard-link" do %>
  <div class="card-dashboard">
    <div class="card-groupname">
      <p> <%= bingo_card.game.group.name %> </p>
    </div>
    <div class="card-game">
      <p> <%= bingo_card.game.group.user_groups.count %> Members </p>
      <p>  <%= bingo_card.game.match.team_1 %>  </p>
      <p>vs</p>
      <p>  <%= bingo_card.game.match.team_2 %> </p>
    </div>
  </div>
<% end %>