<div class="card-dashboard">
  <div class="card-groupname text-center">
    <p> <%= game.group.name %> </p>
  </div>
  <div class="card-game">
    <p> <%= game.group.user_groups.count %> Players </p>
    <p class="btn btn-border">  <%= game.match.team_1 %>  </p>
    <p>vs</p>
    <p class="btn btn-border">  <%= game.match.team_2 %> </p>

    <% game.bingo_cards.each do |bingo_card| %>
      <% if bingo_card.user == current_user %>
        <% if bingo_card.id.present? %>
          <%= link_to "Bingo Card", game_bingo_card_path(game, bingo_card), class: "dashboard-link btn-sm btn-greenstart" %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
