<div style="background-color: #F4F4F4;">
  <button class="selector-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </button>
  <button class="selector-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </button>
  <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-interval="false" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <h1 class="mt-5 text-center">Your Games</h1>
        <!-- Games Grid - all Games of Current_User -->
        <div class="cards-dashboard">
          <% current_user.games.each do |game| %>
            <% game.bingo_cards.each do |bingo_card| %>
              <% if bingo_card.id.nil? %>
                <%= link_to  game_bingo_cards_path(game.id), class: "dashboard-link", method: :post do %>
                  <%= render "card_game", game: game, bingo_card: bingo_card %>
                <% end %>
              <% else %>
                <%= link_to game_bingo_card_path(game, bingo_card), class: "dashboard-link" do %>
                  <%= render "card_game", game: game, bingo_card: bingo_card %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="carousel-item">
        <h1 class="mt-5 text-center">Your Groups</h1>
        <div class="cards-dashboard">
          <!-- New Group Button -->
          <div class="card-dashboard">
           <%= link_to new_group_path do %>
            <div class="card-groupname">
              <p class="text-center">Create a New Group</p>
            </div>
            <div class="card-game d-flex justify-content-center align-items-center">
              <div>
                <i class="fas fa-plus"></i>
                  <% end %>
              </div>
            </div>
          </div>
        <!-- Groups Grid - all Groups of Current_User with
              New Group Button at end -->
          <% @groups.each do |group| %>
            <% if group.users.include?(current_user) %>
              <%= render "card_group", group: group %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>











