<div class="container-xl text-center" style="max-width: 310px;">
  <h1 class="p-3 text-center"><%= @group.name %></h1>
  <h2 class="text-center px-3 mt-3">Team members</h2>
  <br>
    <% @group.users.each do |user| %>
      <div class="card-member">
        <%= image_tag "Placeholder.jpg", class: "avatar-bordered-medium avatar-position" %>
        <div class="card-member-infos">
          <p><%= user.nickname.capitalize %></p>
        </div>
      </div>
    <br>
    <br>
    <%end%>

  <% if @group.user == current_user %>
      <%= simple_form_for([@group, @user_group], remote: true) do |f| %>
      <%= f.association :user, label: "New teammember", collection: User.all.map { |user| [ user.id, user.nickname ] }, input_html: { class: 'select2' }, label_method: :second, value_method: :first %>
      <%= f.submit "Submit", class: "btn btn-greenstart" %>
      <% end %>
    <% end %>
</div>
