<div class="container-xl text-center">
  <%# <div style="background-color: #F4F4F4;"> %>
  <h1 class="mt-3 text-center"><%= @group.name %></h1>
  <!-- Games Grid with New Game Button at end -->
  <div class="cards-dashboard">
    <!-- New Game Button -->
    <%= link_to new_group_game_path(@group), class: "dashboard-link" do %>
      <div class="card-dashboard">
        <div class="card-groupname">
          <p>New game</p>
        </div>
        <div class="card-game mt-3">
          <i class="fas fa-plus fa-3x"></i>
        </div>
      </div>
    <% end %>

    <% @group.games.sort_by { |game| game.match.team_1 }.sort_by { |game| game.match.date_time }.each do |game| %>
      <% if BingoCard.find_by(game: game, user: current_user) %>
        <%= link_to game_bingo_card_path(game, BingoCard.find_by(game: game, user: current_user)), class: "dashboard-link" do %>
          <%= render "card_game_new", game: game %>
        <% end %>
      <% else %>
        <%= link_to game_bingo_cards_path(game), method: "post", class: "dashboard-link" do %>
          <%= render "card_game_new", game: game %>
        <% end %>
      <% end %>
    <% end %>
      
  </div>
  <%= link_to "Show team members", members_group_path, class: "btn btn-team"  %>
  <!-- Group Chat Function -->
  <div class="container mt-3">
    <div class="container-chat mb-1" id="messages" data-chatroom-id="<%= @group.chatroom.id %>" data-current-user="<%= current_user.id %>">
      <% @group.chatroom.messages.each do |message| %>
        <%= render "messages/message", message: message %>
      <% end %>
    </div>
      <%= simple_form_for [@group.chatroom, @message ], remote: true do |f| %>
        <%= f.input :content, label: false, placeholder: 'text your football buddies...'%>
      <% end %>
  </div>
  <%= link_to "Back to Dashboard", dashboard_path, class: "btn btn-greenstart"  %>
</div>

