<div class="container-xl text-center">
  <%# <div style="background-color: #F4F4F4;"> %>
  <h1 class="mt-3 text-center"><%= @group.name %></h1>
  <!-- Games Grid with New Game Button at end -->
  <div class="cards-dashboard">

    <% @group.games.each do |game| %>
      <% if BingoCard.find_by(game: game, user: current_user) %>
        <%= link_to game_bingo_card_path(game, BingoCard.find_by(game: game, user: current_user)), class: "dashboard-link" do %>
          <%= render "card_game_new", game: game %>
        <% end %>
      <% else %>
        <%= link_to game_bingo_cards_path(game), method: "post", class: "dashboard-link" do %>
          <%= render "card_game_new", game: game %>
        <% end %>
      <% end %>
    <% end %>
    <!-- New Game Button -->
    <div class="card-dashboard">
      <div class="card-groupname">
        <p class="text-center">New Game</p>
      </div>
      <div class="card-game form adapt d-flex justify-content-center align-items-center">
        <div>
          <h1>
            <%= link_to new_group_game_path(@group) do %>
            <i class="fas fa-plus btn btn-plus"></i>
            <% end %>
          </h1>
        </div>
      </div>
    </div>
  </div>

  <%= link_to "Show team members", members_group_path, class: "btn btn-team"  %>

  <!-- Group Chat Function -->
  <br>
  <br>
  <div class="container">
    <div class="container-chat" id="messages" data-chatroom-id="<%= @group.chatroom.id %>" data-current-user="<%= current_user.id %>">
      <% @group.chatroom.messages.each do |message| %>
        <%= render "messages/message", message: message %>
      <% end %>
    </div>
    <br>
    <%= simple_form_for [@group.chatroom, @message ], remote: true do |f| %>
      <%= f.input :content, label: false %>
    <% end %>
  </div>
</div>

