<div class="container-xl">
  <%# <div style="background-color: #F4F4F4;"> %>
  <h1 class="mt-3 text-center"><%= @group.name %></h1>
  <!-- Games Grid with New Game Button at end -->
  <div class="cards-dashboard">

    <% @group.games.each do |game| %>
      <%= link_to game_bingo_cards_path(game.id), class: "dashboard-link" do %>
        <div class="card-dashboard">
          <div class="card-groupname text-center">
            <p> <%= game.group.name %> </p>
          </div>
          <div class="card-game">
            <p style="margin-bottom: 12px"> <%= game.group.user_groups.count %> Players </p>
            <p> <%= game.match.team_1 %>  </p>
            <p> vs</p>
            <p> <%= game.match.team_2 %> </p>
          </div>
        </div>
      <% end %>
    <% end %>
    <!-- New Game Button -->
    <div class="card-dashboard">
      <div class="card-groupname">
        <p class="text-center">New Game</p>
      </div>
      <div class="card-game form adapt d-flex justify-content-center align-items-center">
        <div>
          <h1>
            <%= link_to new_group_game_path(@group) do %>
            <i class="fas fa-plus btn btn-plus"></i>
            <% end %>
          </h1>
        </div>
      </div>
    </div>
  </div>
  <div>
    <!-- Displaying all Memebers of Group -->
    <h2 class="text-center px-3 mt-3">Team members</h2>
    <% @group.users.each do |user| %>
    <h3 class="text-center px-3"> <%= user.nickname.capitalize %> </h3>
    <%end%>
  </div>
  <div class="px-3 pt-3 mb-5 form-adapt text-center">
    <!-- Adding New Member to Group -->
    <% if @group.user == current_user %>
      <%= simple_form_for([@group, @user_group], remote: true) do |f| %>
      <%= f.association :user, label: "New teammember", collection: User.all.map { |user| [ user.id, user.nickname ] }, input_html: { class: 'select2' }, label_method: :second, value_method: :first %>
      <%= f.submit "Submit", class: "btn btn-greenstart" %>
      <% end %>
    <% end %>
    </div>
  </div>
  <!-- Group Chat Function -->
  <div class="container">
    <h3>Team-Chat</h3>
    <div class="container-chat" id="messages" data-chatroom-id="<%= @group.chatroom.id %>" data-current-user="<%= current_user.id %>">
      <% @group.chatroom.messages.each do |message| %>
        <%= render "messages/message", message: message %>
      <% end %>
    </div>
    <br>
    <%= simple_form_for [@group.chatroom, @message ], remote: true do |f| %>
      <%= f.input :content, label: false %>
    <% end %>
  </div>
</div>

