<div class="container">
  <h1> <%= @group.name %> Games</h1>
  <div class="grid">
    <ul>
      <% @games.each do |game| %>
        <li class='gamecard'>
          <p> <%= game.match.team_1 %> vs <%= game.match.team_2 %></p>
        </li>
      <%end%>
    </ul>
  </div>
   <%= link_to "Create a new Game", new_group_game_path(@group)  %>
   <br>
   <br>
   <br>
   <%= link_to "Back to Dashboard", dashboard_path %>
</div>
