<div class="navbar navbar-light navbar-lewagon">
  <%= link_to dashboard_path, class: "navbar-brand" do %>
    <%= image_tag "grid_logo.svg" %>
    <% end %>

  <button class="navbar-toggler px-0" style="color: white" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse dropdown-menu dropdown-menu-right" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <div class="settings-and-icon d-flex dropdown-item align-items-center" aria-labelledby="navbarDropdown">
            <i class="fas fa-cogs"></i>
            <%=link_to  "Settings", dashboard_path, class: "dropdown-item text-right"%>
          </div>
            <div class="logo-and-dashboard dropdown-item d-flex align-items-center">
              <div class="logo">
                <i class="fas fa-user-edit"></i>
              </div>
              <div class="dashboard-link"><%=link_to  "Profile", dashboard_path, class: "dropdown-item"%></div>
            </div>
          <div class="logout-and-icon d-flex dropdown-item align-items-center" aria-labelledby="navbarDropdown">
            <i class="fas fa-sign-out-alt"></i>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item text-right" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
