<div class="container">
  <h1 class="mt-5">Your Games</h1>
  <div class="d-flex justify-content-start">
  <div class="card-dashboard">
    <% @bingo_cards.each do |bingo_card| %>
    <div class="card-groupname">
      <p>Batch 530 <%= bingo_card.game.group.name %> </p>
    </div>
    <div class="card-game">
      <p>Team 1 <%= bingo_card.game.match.team_1 %> </p>
      <p>vs</p>
      <p>Team 2  <%= bingo_card.game.match.team_2 %> </p>
      <p>Kick-Off Time  <%= bingo_card.game.match.date_time %> </p>
    <% end %>
    </div>
  </div>
  </div>

  <h1 class="mt-5">Your Groups</h1>
    <div class="d-flex justify-content-start">
    <div class="card-dashboard">
        <% @groups.each do |group| %>
      <div class="card-groupname">
        <p>Batch 530 <%= group.namme %> </p>
      </div>
        <div class="card-game">
        <p>35 Members <%= group.users_group.all.count %></p>
        <p>6 upcoming games</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
